<!-- The bottom part of the website -->

<div class="bottom">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <p><a href="/getInTouch/aboutUs">About Us</a></p>
        <p><a href="/getInTouch/contactUs">Contact Us</a></p>
        <span><a class="smedia" href="#"> <img src="/images/socials/facebook.png" alt="fb" class="socials"> </a></span>
        <span><a class="smedia" href="#"> <img src="/images/socials/linkedin.png" alt="LI" class="socials"> </a></span>
        <span><a class="smedia" href="#"> <img src="/images/socials/twitter.png" alt="Tw" class="socials"> </a></span>
        <span><a class="smedia" href="#"> <img src="/images/socials/instagram.png" alt="Tw" class="socials"> </a></span>
      </div>
      <div class="col-md-6 col-lg-4">
        <p><a href="/getInTouch/help">Help & Support</a></p>
        <p><a href="/getInTouch/affiliate">Affiliate</a></p>
      </div>
      <div class="col-md-6 col-lg-4">
        <p><a href="/getInTouch/terms">Terms</a></p>
        <p><a href="/getInTouch/advertise">Advertise</a></p>
      </div>
    </div>
    <div class="row">
      <div class="cpyrite">
        <p>© Omni 2022 </p>
        <p>ALL RIGHTS RESERVED </p>
      </div>
    </div>
  </div>
</div>

<div class="js">
  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="start.js" charset="utf-8"></script>
</div>

</body>

</html>
